.title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: var(--mantine-color-dark-8);
}

.subtitle {
  text-align: center;
  margin-top: var(--mantine-spacing-xs);
}

.fields {
  margin-top: 40px;
}

.footer {
  text-align: center;
  margin-top: var(--mantine-spacing-xl);
}
