.header {
	padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
	border-bottom: 1px solid var(--mantine-color-default-border);
}

.footer {
	padding: 4px var(--mantine-spacing-sm);
	border-top: 1px solid var(--mantine-color-default-border);
}

.empty {
	padding: var(--mantine-spacing-xl) var(--mantine-spacing-sm);
	color: var(--mantine-color-dimmed);
}
