.root {
	flex-shrink: 0;

	&[data-status='running'] .icon,
	&[data-transition] .icon {
		animation: spin 1.4s linear infinite;
	}

	@media (prefers-reduced-motion: reduce) {
		.icon {
			animation: none !important;
		}
	}
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
